
.projectContainer {
    margin: 3.5rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.project {
    text-align: center;
    width: 100%;
    place-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    padding: 0.5rem 0;
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    transition-duration: 0.5s;
}

.project:hover {
    transition-duration: 0.5s;
    background-color: rgb(230, 120, 23);
}

.project:hover h2 {
    transition-duration: 0.5s;
    color: white;
}

.project h2 {
    transition-duration: 0.5s;
    font-weight: 600;
}

.project img {
    width: 95%;
}

.grid {
    width: 100%;
    justify-content: center;
    grid-template-columns: 20% 20% 20%;
    grid-gap: 20px;
}

.text {
    font-size: 20px;
    font-weight: 300;
}

.about {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.aboutImageText {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
}

.image {
    background-position: center center;
    background-size: cover;
    filter: brightness(60%);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -10;
}

.aboutImageText:hover .image {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition-duration: 1s;
}

.textMain h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 37%;
    margin: auto;
    width: fit-content; /* Need a specific value to work */
    font-size: 120px;
    color: #fff;
    font-weight: 700;
    transition: 0.5s;
}

.text2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    gap: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3vh;
    margin: auto;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.50);
}

.text2 h1, .text2 h2 {
    opacity: 1;
    margin: 0;
    padding: 0;
}

.text2 h1 {
    color: white;
}

.text2 h2 {
    color: rgb(178, 178, 178);
}

.textMain h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    transition: 0.5s;
}

.overview {
    width: 100%;
    height: 100%;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
}

.overviewTitle {
    margin: auto;
    font-size: 3.2rem;
    font-weight: 700;
}

.overviewPart {
    display: flex;
    justify-content: space-between;
    padding: 3rem 12rem;
}

.overviewPart1H {
    width: 50%;
    font-size: 3.2rem;
}

.span {
    color: #767676;
}

.overviewPart1P {
    width: 47%;
    line-height: 28px;
    align-self: flex-end;
    font-size: 1.15rem;
    font-weight: 500;
}

.overviewPart2H {
    width: 50%;
    font-size: 3.2rem;
}

.overviewPart2 {
    width: 47%;
    line-height: 28px;
}

.overviewPart2h {
    font-size: 1.3rem;
    line-height: initial;
    font-weight: 500;
}

.overviewPart2P {
    font-size: 1rem;
    font-weight: 500;
}

.companyInfo {
    display: flex;
    padding: 3rem 12rem;
}

.line {
    width: auto;
    border-top: 2px solid #605f5f;
    margin: 7rem 12rem 0;
}

.our {
    margin-top: 3rem;
    padding: 3rem 9rem;
    margin-bottom: 5rem;
}

.ourPart {
    display: flex;
    flex-direction: column;
}

.vision, .mission {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.vision img, .mission img {
    width: 55%;
}

.mission {
    margin: -50px;
}

.carousel {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 8rem;
}

.peopleTeam {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 12rem;
}

.team {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2rem;
}

.teamOne {
    flex: 1 0 20%;
    display: flex;
    flex-direction: column;
}

.teamOne img {
    border-radius: 4%;
}

.teamOne h2, .teamOne p {
    margin: 0;
}

.teamOne p {
    font-size: 0.9rem;
}

.teamOne h2 {
    margin-top: 1rem;
}

.imageData {
    max-width: 12rem;
}

@media only screen and (max-width: 1500px) {
    .grid {
        grid-template-columns: 25% 25% 25%;
    }
}

@media only screen and (max-width: 1300px) {
    .textMain h1 {
        font-size: 5rem;
    }
    .projectContainer h1 {
        font-size: 2rem;
    }
    .text2 h1 {
        font-size: 2rem;
    }
    .grid {
        grid-template-columns: 40% 40%;
    }
}


@media only screen and (max-width: 1040px) {
    .aboutImageText {
        height: 80vh;
    }

    .aboutImageText img {
        object-fit: cover;
    }

    .textMain h1 {
        top: 35%;
        text-align: center;
        padding: 0 1rem;
        font-size: 1.8rem;
    }

    .text2 {
        bottom: 21vh;
    }

    .text2 h1 {
        font-size: 1rem;
    }

    .overview {
        width: auto;
        padding: 0 5%;
        text-align: center;
    }

    .overviewTitle {
        font-size: 3rem;
    }

    .overviewPart {
        flex-direction: column;
        padding: 3rem 0;
    }

    .overviewPart1H {
        width: 100%;
    }

    .overviewPart1P {
        width: 100%;
    }

    .line {
        display: none;
    }

    .overviewPart2H {
        width: 100%;
    }

    .overviewPart2 {
        width: 100%;
    }

    .peopleTeam {
        text-align: center;
        width: auto;
        padding: 3rem 5%;
    }

    .teamOne {
        align-items: center;
        justify-content: center;
    }

    .our {
        text-align: center;
        margin: 0;
        width: auto;
        padding: 3rem 5%;
    }

    .vision {
        flex-direction: column;
    }

    .vision img {
        width: 100%;
    }

    .ourPart {
        margin: 0;
    }

    .mission {
        margin: 5rem 0 0 0;
        flex-direction: column-reverse;
    }

    .mission img {
        width: 100%;
    }

    .ourPart {
        margin: 0;
    }
}

@media only screen and (max-width: 800px) {
    .grid {
        grid-template-columns: 70%;
    }
}

@media only screen and (max-width: 500px) {
    .grid {
        grid-template-columns: 90%;
    }
}