.admin {
    background-color: #272a31;
    padding: 10rem 15rem;
    color: white;
}

.input {
    max-width: 100%;
    font-size: 20px;
}

.border {
    border: 2px white solid;
    border-radius: 10px;
}

.button {
    cursor: pointer;
    font-size: 15px;
    padding: 1rem;
    border-radius: 7px;
    background-color: white;
    border: none;
}

.finalButton {
    background-image: linear-gradient(to right, rgba(230,120,23,1) 0%, #bdbdbd 51%, rgba(230,120,23,1)  100%);
    width: 100%;
    padding: 15px;
    margin-top: 25px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: none;
    cursor: pointer;
}

.finalButton:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.image {
    width: 20rem;
    height: 10rem;
    max-width: 100%;
}

.item {
    border: 2px white solid;
    padding: 1rem;
    border-radius: 10px;
}

@media only screen and (max-width: 1040px) {
    .admin {
        padding: 10rem 3rem;
    }
    .adminButtons {
        flex-direction: column;
    }
}