.aboutImageText {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
}

.image {
    filter: brightness(60%);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: 0.7s all ease-in-out;
    top: 0;
    left: 0;
    z-index: -10;
}

.aboutImageText:hover .image {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition-duration: 1s;
}

.textMain h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 58%;
    margin: auto;
    width: fit-content; /* Need a specific value to work */
    font-size: 80px;
    color: #fff;
    font-weight: 700;
    transition: 0.5s;
}

.textMain h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    transition: 0.5s;
}


.projectContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectMain {
    padding: 0 15rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 50px;
    text-align: center;
}

.project {
    text-align: center;
    width: 100%;
    place-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    padding: 0.5rem 0;
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    transition-duration: 0.5s;
}

.project:hover {
    transition-duration: 0.5s;
    background-color: rgb(230, 120, 23);
}

.project:hover h2 {
    transition-duration: 0.5s;
    color: white;
}

.project h2 {
    transition-duration: 0.5s;
    font-weight: 600;
}

.project img {
    width: 95%;
}

.grid {
    margin-top: 7rem;
    width: 100%;
    justify-content: center;
    grid-template-columns: 20% 20% 20%;
    grid-gap: 20px;
}

@media only screen and (max-width: 1500px) {
    .grid {
        grid-template-columns: 25% 25% 25%;
    }
}

@media only screen and (max-width: 1300px) {
    .grid {
        grid-template-columns: 40% 40%;
    }
}

@media only screen and (max-width: 800px) {
    .grid {
        grid-template-columns: 70%;
    }
}

@media only screen and (max-width: 500px) {
    .grid {
        grid-template-columns: 90%;
    }
}


.text {
    font-size: 20px;
    font-weight: 300;
}

@media only screen and (max-width: 1040px) {
    .aboutImageText {
        height: 60vh;
    }

    .aboutImageText img {
        object-fit: cover;
    }

    .textMain h1 {
        top: 50%;
        text-align: center;
        padding: 0 1rem;
        font-size: 1.8rem;
    }

    .overview {
        width: auto;
        padding: 0 5%;
        text-align: center;
    }

    .overviewTitle {
        font-size: 3rem;
    }

    .overviewPart {
        flex-direction: column;
        padding: 3rem 0;
    }

    .overviewPart1H {
        width: 100%;
    }

    .overviewPart1P {
        width: 100%;
    }

    .line {
        display: none;
    }

    .overviewPart2H {
        width: 100%;
    }

    .overviewPart2 {
        width: 100%;
    }

    .peopleTeam {
        text-align: center;
        width: auto;
        padding: 3rem 5%;
    }

    .teamOne {
        align-items: center;
        justify-content: center;
    }

    .our {
        text-align: center;
        margin: 0;
        width: auto;
        padding: 3rem 5%;
    }

    .vision {
        flex-direction: column;
    }

    .vision img {
        width: 100%;
    }

    .ourPart {
        margin: 0;
    }

    .mission {
        margin: 5rem 0 0 0;
        flex-direction: column-reverse;
    }

    .mission img {
        width: 100%;
    }

    .ourPart {
        margin: 0;
    }
}